pkgbase = aeryxium-devel
	pkgdesc = A collection of packages essential for basic development
	pkgver = 1
	pkgrel = 1
	url = https://github.com/aeryxium/aeryxium-arch
	install = aeryxium-devel.install
	arch = x86_64
	license = GPL
	depends = autoconf
	depends = automake
	depends = binutils
	depends = bison
	depends = fakeroot
	depends = file
	depends = findutils
	depends = flex
	depends = gawk
	depends = gcc
	depends = gettext
	depends = grep
	depends = groff
	depends = gzip
	depends = libtool
	depends = m4
	depends = make
	depends = pacman
	depends = patch
	depends = pkgconf
	depends = sed
	depends = sudo
	depends = texinfo
	depends = which
	depends = devtools
	depends = pacman-contrib
	depends = aurutils
	depends = repoctl
	backup = etc/repoctl.conf
	source = repoctl.conf
	source = repoclean.service
	source = repoclean.timer
	sha256sums = 6c6ffcf03e4e0d2160f009a7d91997568e58e17765ecd9100130e9c79e1d1df2
	sha256sums = b68bd4a5a046491b87e75cde66e817d5cebcbf107cb1c71323f6b4752d3dbff4
	sha256sums = 39164f8e400e1614e3022fcc8979f96547377d94493965e43315e5eba99ceef9

pkgname = aeryxium-devel
